* {
    margin: 0;

}

/*NAVBAR*/
.nav-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    z-index: 2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: rgba(77, 77, 77, 0.8);
    font-family: "Roboto", sans-serif;
    color: #fff;
    overflow: hidden;
    position: fixed;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.logo {
    height: 60px;
}

.nav-tabs {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    margin-right: 50px;
}

.nav-tab {
    padding: 25px 25px;
}

.nav-tab,
.menu-btn {
    cursor: pointer;
}

.hidden {
    display: none;
}

.nav-tab:hover {
    background-color: rgba(0, 0, 0, 0.3);
}



/*Contact Form*/
textarea {
    outline: none;
    border: none;
    position: relative;
}

input {
    outline: none;
    border: none;
}

.contact-container {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 100px 130px 100px 148px;
    /* padding-top: 100px; */
}

.input-wrapper {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
    z-index: 1;
}

.contact-wrapper {
    width: 95%;
    min-height: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input {
    display: block;
    width: 100%;

    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
}

input.input {
    height: 45px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.contact-form {
    width: 390px;
}

.contact-img {
    width: 33.5%;
}

.contact-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    text-align: center;
    padding-bottom: 70px;
}

.contact-btn {
    min-width: 193px;
    height: 50px;
    background: #57b846;
    font-family: Montserrat-Bold;
    font-size: 15px;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}


/*top-wrapper*/
.top-wrapper {
    background-color: #F5F5F5;
    padding-top: 100px;
    background-size: cover;
    height:300px;
}

.container h1 {
  font-family:poppins-bold;
  font-size:30px;
  text-align: center;
  color:black;
  opacity: 0.5;
  letter-spacing: 5px;
}

.container h2 {
  font-family: poppins-bold;
  text-align: center;
  font-size:30px;
  color:black;
  opacity: 0.5;
  letter-spacing:5px;
  padding-top:20px;
  padding-bottom:20px;  
}

.container p {
  font-family: sans-serif;
  float:left;
  padding:30px 20px;
  color:black;
  text-align: center;
}

.container {
  width:1170px;
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto; 
}

.nama {
    display: flex;
    justify-content: center;
}

/*FOOTER*/
footer {
    position: relative;
    bottom: 0;
}

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    position: relative;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Roboto', sans-serif;
    margin: 0;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}
